.container {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	background-color: aliceblue;
	box-sizing: border-box;
	border: 1px solid #3c3c3c;
}

.header {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.item {
	flex: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 10px; */
}

.itemHappened {
	background: red;
}

.itemDid {
	background-color: navy;
}

.itemBoth {
	background-color: green;
}

.footer {
	flex: 1;
}
